/* styles for the header */
.pages {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.pages-ul {
    display: flex;
}

.pages-li {
    margin-right: 20px;
    
}

.pages-li a {
    color: rgba(0,0,0,.87);
    font: 14px Roboto, Arial, sans-serif;
}

.pages-li a:hover {
    text-decoration: underline;
}

/* styles for the google logo */
.logo-container {
    position: relative;
    display: flex;
    max-width: 272px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}

.logo {
    width: 272px;
    height: auto;
    aspect-ratio: auto 272 / 92;
}
/* styles for the search bar */

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    padding: 10px;
    width: 100%;
    max-width: 584px;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
}

.search-submit {
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search-input:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-submit:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

/* font */
body, input {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #202124;
}

/* additional styles for the images.html */
.logo-text {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
}

/* additional styles for the advanced.html */
.advanced-logo-container{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    margin-top: 10px;
}
.advanced-logo{
    display: inline-block;
    height: 24px;
    width: 74px;
}

.page {
    color: rgba(0,0,0,.87);
    font: 14px Roboto, Arial, sans-serif;
}

.main-title {
    color: #d93025;
    font-size: 20px;
    font-family: arial,sans-serif;
    margin: 25px 45px;
}

#line {
    border-bottom: 1px solid #ebebeb;
}

.advanced-form{
    max-width: 1140px;
    min-width: 200px;
    width: 100%;
    margin: 40px 2% 0 45px;
    font-family: arial,sans-serif;
    font-size: 13px;
    align-items: start;
}

.title {
    display: inline-block;
    min-width: 167px;
    font-size: 16px;
    min-height: 42px;
    color: #333;
}

.form-label {
    display: inline-block;
    min-width: 167px;
    height: 42px;
    color: #222;
    vertical-align: center;
    margin-right: 10px;
}

.form-input{
    display: inline-block;
    min-width: 167px;
    min-height: 25px;
    vertical-align: center;
    width: 50%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 1px 8px;
}

.form-input:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

.advanced-button-container {
    text-align: right;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 20px;
}

.advanced-button {
    height: 30px;
    min-width: 120px;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}

.advanced-button:hover {
    background-color: #357ae8;
}